repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: .venv/bin/black
        language: system
        types: [python]
        args: [--line-length=100]
      
      - id: ruff
        name: ruff
        entry: .venv/bin/ruff
        language: system
        types: [python]
        args: [check, --fix, --exit-non-zero-on-fix]